# Ignore macOS .DS_Store files
.DS_Store

# Ignore VSCode settings folder
.vscode/

# Ignore all .sqlite files
*.sqlite

# Ignore the database/backups folder
database/backups/

# Ignore node_modules folder
node_modules/

# Ignore cache files
.cache/

# Ignore old json
database/oldjson/